<!DOCTYPE html>
<html>
<head>
    <title>Task Manager</title>
</head>
<body>
    <h1>Welcome to the Task Manager</h1>
    <p>This page is rendered using Flask templates.</p>

    <form action="/add" method="post">
        <input type="text" name="task" placeholder="Enter a new task" required>
        <button type="submit">Add Task</button>
    </form>

    <ul>
        {% for t in tasks %}
            <li>
                {{ t }}
                <a href = "/delete/{{ loop.index0}}" >Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
